.search-bar {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: auto;
    width: 295px;
    background: rgba(217, 217, 217, 0.30);
    height: 44px;
    border-radius: 27px;
  }
  
  .search-icon {
    float: right;
    margin: 5%;
    fill: #000;
  }
  
  .search-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    padding: 0 10px;
    color: #000;
  }
  